# PLACEHOLDER: Replace this file with the actual public key from gopeople
# 
# To get the public key from gopeople:
# 1. In gopeople project, generate RSA key pair (if not already done):
#    go run cmd/generate_keys/main.go
# 2. Copy the public.pem file from gopeople/keys/public.pem to here
# 3. This service (go_Initializr) will use it to validate JWTs signed by gopeople
#
# The public key should look like this:
# -----BEGIN PUBLIC KEY-----
# MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA...
# -----END PUBLIC KEY-----
